<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/artist.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
        <el-container>
          <el-header>
            <el-row :gutter="20">
              <el-col :span="10" :offset="0">
                <div class="icon"> <a href="./index.html">HOME</a></div>
              </el-col>
              <el-col :span="14" :offset="0">
                <el-col :span="6"  :offset="0" v-for="i in iterms" >
                  <a :href="i.link">
                    {{i.text}}
                  </a>
                </el-col>
              </el-col>
            </el-row>
       </el-header>
        
       <el-row>
        <el-col :span="12" :md="12" :lg="8" :xs="24" v-for="i in img3s" :key="o" :offset="0" >
          <el-card :body-style="{ padding: '20px'}" style="margin:20px;">
            <img :src="i" class="image">
            <div style="padding: 14px;">
              <span>家居名称</span>
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button type="text" class="button">详细查看</el-button>
              </div>
            </div>
          </el-card>
        </el-col>
      </el-row>


          <el-footer>
            <el-row :gutter="0">
              <el-col :span="24" :offset="0">
                <p class="p1">{{end}}</p>
              </el-col>
              <el-col :span="24" :offset="0" class="pend">
                <p class="pend" v-for="i in endhelp">
                  <a :href="i.link">{{i.text}}</a>
                </p>
              
              </el-col>
              
            </el-row>
            
          </el-footer>
        </el-container>
       
      </div>
  </body>

<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../index.js"></script>

</html>