<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
      <el-container>
        <el-header>
          <el-row :gutter="20">
            <el-col :span="10" :offset="0">
              <div class="icon"> <a href="../pages/index.html">HOME</a></div>
            </el-col>
            <el-col :span="14" :offset="0">
              <el-col :span="6"  :offset="0" v-for="i in iterms" >
                <a :href="i.link">
                  {{i.text}}
                </a>
              </el-col>
            </el-col>
          </el-row>
          


        </el-header>
      
        <el-main  style="padding: 0px; height:328px;">
          <el-carousel  :interval="5000"  indicator-position="in" >
            <el-carousel-item  v-for="item in imgs" :key="item">
              <img :src="item"  class="fixed-size-image">
            </el-carousel-item>
          </el-carousel>
        </el-main>

        <el-row :gutter="28" >
          <el-col :xs="24" :sm="12" :md="6" :offset="0"  v-for="i in imgs2"><img style="margin-bottom: 28px;" :src="i" alt=""></el-col>
        </el-row>

        <el-row style="margin: 38px;">
          <el-col :md="16" xs="14"  :offset="0" style="padding-right: 20px;">
            <h1>{{title}}</h1>
            <p>{{p}}</p>
          </el-col>
          <el-col  :md="8" xs="10" :offset="0">
            <img :src="img3" alt="">
          </el-col>
        </el-row>

        <el-row :gutter="20">
          <el-col :span="24" :offset="0">
            <p class="p3">最新</p>
            <p class="p2">跟上潮流！发现我们的最新艺术品和家居产品，同时关注我们的特别活动，让您的居住空间焕发新活力。</p>
          </el-col>
         
        </el-row>
        
        <el-row :gutter="0" style="margin: 38px;" >
          <el-col :span="12" :offset="0"  v-for="i in img4" style="padding:0 0 38px 38px;">
            <img :src="i" alt="" >
          </el-col>
        </el-row>
        
        <el-row :gutter="20" style="margin-bottom: 20px;">
          <el-col :span="14" :offset="0">
            <p class="p4">世界各地</p>
            <p class="p4">我们的艺术品和家居产品来自世界各地，各具特色，为您带来别具一格的生活体验。让您开启地域无界的美学之旅。</p>
          </el-col>
         <el-col :span="10" :offset="0"></el-col>
         
        </el-row>

        <el-row style="margin: 38px;">
          <el-col :span="10" :offset="0">
            <img :src="img33" alt="">
          </el-col>
          <el-col :span="14" :offset="0">
            <p>探索众多客户案例和用户评价，了解我们令人惊叹的项目展示。这里汇集了世界各地满意客户的真实反馈，让您信心满满地选择我们的服务。</p>
          </el-col>
        </el-row>

        <el-footer>
          <el-row :gutter="0">
            <el-col :span="24" :offset="0">
              <p class="p1">{{end}}</p>
            </el-col>
            <el-col :span="24" :offset="0" class="pend">
              <p class="pend" v-for="i in endhelp">
                <a :href="i.link">{{i.text}}</a>
              </p>
            
            </el-col>
            
          </el-row>
          
        </el-footer>
      </el-container>
     
    </div>
</body>

<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../index.js"></script>
</html>